@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
    font-family: 'Roboto', sans-serif;
    background: #a8d1ca;
}

.page {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
  font-family: "Lucida Console",
  "Courier New",
  monospace;
    text-align: center;
    font-size: 50px;
    color: #271f1f;
    margin-top: 60px;
}

pre {
    max-width: 650px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px 0px rgba(0,0,0,0.5);
    border: 1px solid #b7c1c1;
    margin-left: 50px;
}

p {
    font-size: 15px;
    text-align: center;
    color: #1c1b25;
    margin: 30px;
}
.head {
    margin: 40px 0 20px 40px;
    font-size: 25px;
    font-weight: bold;
    color: #353535;
    border-bottom: 1px solid #a8b4cc;
    padding-bottom: 5px;
}

